
/*
Use the following colors for your layout:

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

/*
USE TEXT
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body{
  background-color: #F2F1E8;
  min-height: 600px;
  position: relative;
  margin: 0;
  padding-bottom: 105px;}

header{
  background-color: #FFF;
  height: 59px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
  display: flex;}

#logo{
  max-width: 35px;
  object-fit: contain;
  padding-left: 10px;}

nav{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  font-size: 14px;}

nav ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  padding-left: 0;}

nav ul li a{
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  color: #968772;}

nav ul li a:visited, a:visited{
  color: #2B2F26;}

nav ul li a:hover, a:hover{
  color: #CD5D67;}

nav ul li a:active, a:active{
  color: #968772;}

.content{
  margin-top: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;}

.content_about{
  width: 600px;
  margin-left: auto;
  margin-right: auto;}

.content_aftergrow{
  margin-top: 30px;}

.content_menu1 {
  display: flex;
  margin-bottom: 0;
  height: 250px;
  width: 100%;}

.content_menu2 {
  display: flex;
  margin-bottom: 0;
  height: 200px;
  width: 100%;}

#product1 {
  background-image: url(images/product-1.jpg);
  background-size:cover;
  margin-right: 10px;
  width: 68%;}


#product2{
  background-image: url(images/product-2.jpg);
  background-size: cover;
  padding: 0;
  margin-right: 10px;
  width: 15%;}

#product3{
  background-image: url(images/product-3.jpg);
  background-size: cover;
  width: 15%;}

/*2nd rows that contain four photos*/

#product4{
  background-image: url(images/product-4.jpg);
  background-size: cover;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
  width: 20%;}

#product5{
  background-image: url(images/product-5.jpg);
  background-size: cover;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
  width: 20%;}

#product6{
  background-image: url(images/product-6.jpg);
  background-size: cover;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
  width: 40%;}

#product7{
  background-image: url(images/product-7.jpg);
  background-size: cover;
  padding: 0;
  margin-top: 10px;
  width: 20%;}

h1, h2, h3{
  font-family: 'Merriweather', serif;
  text-align: center;}

h1{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;}

h2{
  font-size: 25px;
  font-weight:lighter;
  margin-top: 0;}

h3{
  font-size: 20px;
  font-weight:lighter;
  margin-top: 0;
  text-align: left;}

footer{
  background-color: rgb(43,47,38);
  height: 35px;
  color: #968772;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  /* Set position based on the CLOSEST POSITIONED PARENT */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;}

#birdhouse{
  width: 101px;
  height: auto;
  float: left;
  margin-right: 20px;
  padding-top: 18px;}

p{
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 1.8em;}

.content_menu1 p, .content_menu2 p{
  display: inline-block;
  color: white;
  padding: 10px;
  background-color: rgb(43,47,38);
  font-size: .8em;}

.content_menu2 p{
  margin-top: 136px;}

.content_menu1 p{
  margin-top: 188px;
}

quote{
  display: inline-block;
  border-left: 1px solid rgb(135, 116, 91);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-style: italic;
  line-height: 1.8em;
  opacity: .5;}

#roomtogrow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-image: url(images/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 5em;
  color: white;}

aside{
  width: 113px;
  font-size: 13px;
  float: right;
  margin-top: 30px;
  margin-left: 10px;}

#asideimg{
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding-top: 18px;
  padding-bottom: 8px;}

table{
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-size: 13px;}

th, td{
  border: 1px solid rgb(59, 61, 54);
  padding: 10px;}

tr:nth-child(even){
  background-color: rgb(242, 234, 221);}

#signup{
  background-color: white;
  width: 540px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;}

#newsletter{
  background-image: url("images/background-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;}

form{
  margin: 20px;}

.formbox{
  color: #2B2F26;
  font-size: 13px;
  border-bottom: 1px solid #968772;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-top: 15px;
  padding-bottom: 2px;
  width: 490px;}

#signupButton{
  background-color: #968772;
  color: #F2F1E8;
  border: 1px solid #968772;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  width: 90px;
  margin-top: 15px;}
