
/*
Use the following colors for your layout:

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

/*
USE TEXT
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body{
  background-color: #F2F1E8;}

header{
  background-color: #FFF;
  height: 59px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
  display: flex;}

#logo{
  max-width: 35px;
  object-fit: contain;
  padding-left: 10px;}

nav{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  font-size: 14px;}

nav ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  padding-left: 0;}

nav ul li a{
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  color: #968772;}

nav ul li a:visited{
  color: #2B2F26;}

nav ul li a:hover{
  color: #CD5D67;}

nav ul li a:active{
  color: #968772;}

.content{
  margin-top: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;}

.content_about{
  width: 600px;
  margin-left: auto;
  margin-right: auto;}

.content_aftergrow{
  margin-top: 30px;}

#content_menu{
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row;}

#content_menu figure{
  border: 2px solid white;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  display: block;}

#content_menu img{
  background-color: white;
  max-width: 30px;}

h1, h2, h3{
  font-family: 'Merriweather', serif;
  text-align: center;}

h1{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;}

h2{
  font-size: 25px;
  font-weight:lighter;
  margin-top: 0;}

h3{
  font-size: 20px;
  font-weight:lighter;
  margin-top: 0;
  text-align: left;}

footer{
  background-color: rgb(43,47,38);
  height: 35px;
  color: #968772;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px}

#birdhouse{
  width: 101px;
  height: auto;
  float: left;
  margin-right: 20px;
  padding-top: 18px;}

p{
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 1.8em;}

quote{
  display: inline-block;
  border-left: 1px solid rgb(135, 116, 91);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-style: italic;
  line-height: 1.8em;
  opacity: .5;}

#roomtogrow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: red;
  background-image: image("images/background-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}

aside{
  width: 113px;
  font-size: 13px;
  float: right;
  margin-top: 30px;
  margin-left: 10px;}

#asideimg{
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding-top: 18px;
  padding-bottom: 8px;}

table{
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-size: 13px;}

th, td{
  border: 1px solid rgb(59, 61, 54);
  padding: 10px;}

tr:nth-child(even){
  background-color: rgb(242, 234, 221);
}
